/* Admin Header Styles */
.admin__header {
  background-color: orange; /* Header background color */
  color: #fff; /* Text color */
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.admin__nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin__nav-wrapper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo img {
  width: 50px; /* Adjust the logo size */
}

.admin__nav-top-right img {
  width: 30px; /* Adjust the user icon size */
}

/* Admin Menu Styles */
.admin__menu {
  background-color:whitesmoke; /* Menu background color */
}

.admin__menu-list {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  list-style: none;
  margin: 0;
}

.admin__menu-item {
  /* Add styles for each menu item */
}

/* Define the style for inactive links */
.admin__menu-item a {
  text-decoration: none;
  color:#333; /* Text color for inactive links */
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

/* Define the style for active links */
.admin__menu-item a.active__admin-menu {
  background-color: #ff6b6b; /* Active button background color */
  color: #fff; /* Text color for active links */
}

/* Style for link hover state */
.admin__menu-item a:hover {
  background-color: #ff6b6b; /* Hover button background color */
  color: #fff; /* Text color on hover */
  transition: background-color 0.3s, color 0.3s;
}
