/* Update the styles for the tour cards */
.tour-card {
  display: flex;
  width: 100%;
  max-width: 1000px; /* Adjust the max-width as needed */
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  /* Set fixed dimensions for the tour cards */
  width: 100%; /* Make each card take the full width */
  height: 200px; /* Adjust the height as needed */
}

.tour-image {
  width: 190px; /* Fixed width for the tour image */
  height: 100%; /* Set the image height to match the card height */
  margin-right: 30px;
}

.tour-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Style the delete button */
button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #cc0000;
}

/* Display the list of tours as a vertical list */
.all-tours-container {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style individual details within the tour card */
.tour-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tour-price {
  margin-bottom: 10px;
}

.tour-description {
  margin-bottom: 10px;
}
.delete-button {
  display: flex;
  align-items: center;
}