/* Users.css */

/* Style for the table headings */
.user-table th {
  background-color: #f2f2f2;
  text-align: center; /* Center align the text */
  padding: 10px;
}

.user-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  font-weight: bold;
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table tr:hover {
  background-color: #ddd;
}
