 /* Header styles */
 .header {
  background-color: #ffffff;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  box-shadow :0.3s;
}
/* Profile dropdown styles */
.profile {
  position: relative;
  cursor: pointer;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Profile dropdown content styles */
.profile__actions {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  min-width: 150px; /* Set the width as needed */
}

.profile:hover .profile__actions {
  display: block;
}

/* Column view for profile links */
.profile__table {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.profile__link {
  text-decoration: none;
  color: black;
  padding: 5px;
  transition: color 0.3s;
}

.profile__link:hover {
  color: orange;
}

/* Navigation styles */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-right: 15px;
}

/* Styling for the default link color */
.nav__item a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 500;
}

/* Styling for the link when hovered or active */
.nav__item a:hover,
.nav__item a.active__link {
  color: orange;
  font-weight: 500;
}

/* Sticky header styles */
.sticky__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;
}
/* Logo styles */
.logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Automatically adjust the height based on the width */
}

.sticky__header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav__wrapper {
  align-items: center;
}

/* Navigation styles */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  size: 3rem;
}

.nav__item {
  margin-right: 15px;
}

.active__link {
  color: #007bff;
}

/* Profile dropdown styles */
.profile {
  position: relative;
  cursor: pointer;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.mobile__menu{
  display: none;
}
  /* ============ make is responsive ==============  */
 @media only screen and (max-width:992px) {
  .logo img{
    width:20%;
  }
  .navigation{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0,0.411);
    z-index: 999;
    display: none;

  }

.menu{
  position:absolute;
  top:0;
  right:0;
  width: calc(100% - 75%);
  height: 100%;
  background: #fff;
  flex-direction: column;
  line-height: 0.5rem;
  justify-content: center;
  z-index:9999;

}

.mobile__menu{
  display: block;
}
.show__menu{
  display: block;
}
 }

 @media only screen and (max-width: 768px){
  .logo img {
    width: 45%
  }
  .menu {
  width: calc(100% - 50%);
  }
 }